@font-face {
    font-family: 'CusFont';
    /*a name to be used later*/
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf');
    /*URL to font*/
}

body {
    margin: 0;
    padding: 0;
    font-family: 'CusFont';
}

.mycss1 {
    width: 100%;
    height: 100vh;
}

.mycss2 {
    width: 100%;
    height: 40vh;
    background-image: url("./assets/images/background-pattern-desktop.svg");
}

.mycss3 {
    width: 100%;
    height: 60vh;
    background-color: hsl(275, 100%, 97%);
}

.mycss4 {
    position: absolute;
    top: 254px;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 15px;
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 3px 21px 0 #00000029;
}

.mycssfaqs {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px 30px 10px 30px;
}

.mycssfaqs img {
    width: 30px;
    height: 30px;
}

.mycssfaqs h2 {
    font-size: 40px;
    margin: 0;
}

.mycss5 {
    padding: 10px 0px;
    margin: 0 25px;
    border-bottom: 1px solid #ececec;
    transition: 1s;
}

.mycss6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.mycss6 p {
    color: black;
    font-weight: 600;
    transition: 0.8s;
}

.mycss6 p:hover {
    color: #aa29e4;
    transition: 0.8s;
}

.mycss7 {
    display: none;
    transition: 1s;
}

.mycss7 a {
    line-height: 25px;
    font-size: 15px;
    color: hsl(292, 16%, 49%);
}


@media screen and (max-width: 600px) {
    .mycss2 {
        width: 100%;
        height: 40vh;
        background-image: url("./assets/images/background-pattern-mobile.svg");
    }

    .mycss4 {
        width: 390px;
    }
}